src/Model/Data/obstacle.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="obstacles">
        <xs:annotation>
            <xs:documentation>add runway it belongs to</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="obstacle">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:short" name="length"/>
                            <xs:element type="xs:short" name="height"/>
                            <xs:element type="xs:short" name="rightThreshold"/>
                            <xs:element type="xs:short" name="leftThreshold"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>